<div class="hero-container">
    <div class="hero"></div>
    <div class="hero-content">
        <img class="rounded logo-image" src="assets/logomajestic.svg" alt="team">
    </div>
</div>
<div class="team-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid team-image" src="assets/team/team.jpg" alt="team">
                    <p class="team-content">Our dedicated team works tirelessly to get the job done.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid team-image" src="assets/team/dumptruck.jpg" alt="dumptruck">
                    <p class="team-content">We own all of our own equipment which reduces costs.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid team-image" src="assets/team/team2.jpg" alt="happy team">
                    <p class="team-content">We love what we do! Let us make your space beautiful.</p>
                </div>
            </div>
        </div>
    </div>
</div>