<div class="hero-container">
    <div class="hero"></div>
    <div class="hero-content">
        <h1>PERFECTION IS ALWAYS</h1>
        <h3>under construction</h3>
    </div>
</div>
<div class="team-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid team-image" src="../../../assets/team/team.jpg" alt="team">
                    <p class="team-content">With our team we know how to get things done right the first time</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid team-image" src="../../../assets/team/dumptruck.jpg" alt="dumptruck">
                    <p class="team-content">We own our own equipment to help cut down costs for your benefit</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid team-image" src="../../../assets/team/team2.jpg" alt="happy team">
                    <p class="team-content">We love what we do. Let us help make your area beautiful</p>
                </div>
            </div>
        </div>
    </div>
</div>