<div class="service-container">
  <div class="container d-flex justify-content-center mt-5 text-center">
    <h4 class="title">
      {{title}}
    </h4>
  </div>
  <br>
  <br>
  <div *ngFor="let paragraph of paragraphs" class="container d-flex">
    <div class="text-container" [innerHTML]="paragraph.text"></div>
  </div>

  <div class="container d-flex">
    <div class="row">
      <div class="row">
        <div *ngFor="let image of images" class="col-md-4 col-xs-6 thumb">
          <a class="thumbnail" [href]="image.src" data-image-id="" data-toggle="modal" data-title=""
            >
            <img id="initial-image" class="img-thumbnail" [src]="image.src" alt="Image" (click)="showImage(image.src)">
          </a>
        </div>

        <!-- The Modal -->
        <div id="imageModal" class="modal">

          <!-- The Close Button -->
          <span class="close" (click)="closeModal()">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="modalImage">

          <!-- Modal Caption (Image Text) -->
          <div id="caption"></div>
        </div>
      </div>
    </div>
  </div>
</div>