<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" routerLink="">
        <img src="assets/logomajestic.ico" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100">
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/landscaping">Landscaping</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/fences-decks">Fences & Decks</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/sprinkler">Sprinklers</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/remodeling">Remodeling</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/concrete">Concrete</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/reviews">Google Reviews</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
    </div>
</nav>